html,
body {
  margin: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: white;
}

a {
  color: black;
}

/* header */

.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: relative;
  width: 100%;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: red;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;

}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 32px;

}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* main */

.signup-and-graphic {
  display: inline;
  float: left;
  margin-top: 14.5rem;
}

.signup-button:hover {
  color: rgb(208, 21, 21);
}

.left-box,
.signup-container {
  margin: 1.5rem;
}

h4 {
  color: rgb(223, 38, 180);
  font-weight: bolder;
  font-size: x-large;
}

.left-box h1 {
  font-size: xxx-large;
  font-weight: 900;
}

p {
  font-size: larger;
  margin: 5px;
  line-height: 1.5em;

}

.signup-button {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #d53a3a, #48ee1b) border-box;
  border-radius: 50px;
  border: 4px solid transparent;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 900;
  font-size: large;
  color: black;
  padding: 1.2rem 3rem;
  margin-bottom: 4.5rem;
}

.graphic {
  float: right;
}

.graphic img {
  position: absolute;
  object-fit: scale-down;
  object-position: right;
  width: auto;
  max-height: 568px;
  left: 192px;
  top: 188px;
}

/* banner */

.banner {
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/background.svg);
  alt="banner background";
  height: 120px;
  width: 100%;
  padding: 6rem;
  margin: 1.5rem;
  background-size: cover;
  margin-left: -12px;
}

.banner p {
  margin-left: auto;
}

/* companies */

.companies-pic {
  /*display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;*/

  display: grid;
  grid-template-columns: repeat(2, 50%);
  /*grid-template-rows: repeat(2, 50%);*/
  justify-content: space-around;
  row-gap: 3rem;
  column-gap: 8rem;

  text-align: center;
  /*margin-left: 1.5rem;
  margin-right: 1.5rem;*/
  transform: scale(0.7);

}

img#opendoor-companie {
  display: none;
}

/* cards */
.card {
  background-color: #f4f4f4;
  width: 290px;
  height: 420px;
  border-radius: 15px;
  overflow: hidden;
}

.card div {
  justify-content: center;
  padding: 0 auto;
  margin: 5px;
}

.colorful,
.black,
.grey-18px {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}

.grey,
.black-and-pic,
.grey-18px-right {
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}

.auction-cards a {
  color: black;
}

.auction-cards a:hover {
  color: red;
}

.colorful {
  color: rgb(221, 48, 186);
  font-size: 12px;
  font-weight: 600;
}

.grey {
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.black,
.black-and-pic {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.grey-18px,
.grey-18px-right {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}

.auction-cards {
  margin: 1.5rem;
}

.auction-cards p {
  margin-bottom: 3rem;
}

.auction-cards div {
  /*display: inline-block;*/


  margin-right: 1.2rem;
  margin-top: 1rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  gap: 18rem;
}

/* aside */

.textfullsize {
  display: none;
}

.signup-and-graphic-aside {
  border-top: 3px solid #f4f4f4;
  width: 90%;
  border-bottom: 3px solid #f4f4f4;
  width: 90%;
  margin-top: 5rem;
  margin-left: 1.4rem;
}

/* green graphic */

.graphic-green img {
  position: absolute;
  object-fit: scale-down;
  object-position: right;
  width: auto;
  max-height: 484px;
  left: 328px;
  top: 2068px;
}

/* bottom nav */

.bi {
  color: grey;
  margin: 10px;
}

.bottom-nav {}

.bottom-nav-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
  margin-left: 1.4rem;
}

.bottom-wraper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  margin-top: 3rem;
  margin-right: 16rem;
  margin-left: 2rem;

}

.bottom-about div,
.bottom-nft div,
.bottom-contact div,
.bottom-social div {
  margin: 10px;
}

.bottom-about a,
.bottom-nft a,
.bottom-contact a,
.bottom-social a {
  text-decoration: none;
  color: black;
}

.bottom-about a:hover,
.bottom-nft a:hover,
.bottom-contact a:hover,
.bottom-social a:hover {
  color: red;
}

.bottom-about div:first-child,
.bottom-nft div:first-child,
.bottom-contact div:first-child,
.bottom-social div:first-child {
  font-weight: 900;
}

/* footer */

.bottom-copyright {
  padding-bottom: 40px;
  margin-left: 2rem;
}

#bottom-launching-date {
  display: none;
}

/* 48em = 768px */

@media (min-width: 48em) {

  html,
  body {
    width: 100vw;
  }

  .header {
    padding: 1rem 0;
    margin: 0 1rem;
    box-shadow: 1px 1px 4px 0 transparent;
  }

  .header li {
    float: left;

  }

  .header li:last-child a {
    margin-right: 3rem;
    color:  rgb(221, 48, 186);
  }

  .header li a {
    padding: 20px 30px;
  }
  .header li a:hover {
    color: red;
  }
  
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  /* main */



  .signup-and-graphic {
    display: inline;
    float: left;
    margin-top: 14.5rem;
  }

  .graphic img {
    position: absolute;
    /*object-fit: scale-down;*/
    object-position: right;
    width: auto;
    max-height: 888px;
    left: 692px;
    top: 188px;
  }

  .card-wrapper {
    display: inline-flex;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    gap: 1rem;

  }




}