html,
body {
  margin: 0;
  width: 100vw;
  max-width: 1280px;
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: white;
  padding: 0.4rem 0;
}

a {
  color: black;
}

/* header */

.header {
  background-color: white;
  position: relative;
  width: 100%;
  height: auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: red;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 40px;

}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 40px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 32px;

}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: -10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* main */

.signup-and-graphic {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 8rem;
}

.signup-button:hover {
  color: rgb(208, 21, 21);
}

.left-box,
.signup-container {
  padding: 0;
  margin: 1.5rem;
  flex: 1 1 40%;
}

h4 {
  color: rgb(223, 38, 180);
  font-weight: bolder;
  font-size: x-large;
}

.left-box h1 {
  font-size: xxx-large;
  font-weight: 900;
}

p {
  font-size: larger;
  margin: 5px;
  line-height: 1.5em;

}

.signup-button {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #d53a3a, #48ee1b) border-box;
  border-radius: 50px;
  border: 4px solid transparent;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  font-size: large;
  color: black;
  padding: 1.3rem 3.2rem;
  margin-top: 2rem;
  margin-bottom: 4.5rem;
}

.graphic {
  flex: 1 1 50%;
  max-width: 540px;
  overflow: hidden;
  margin-left: 0;
}

.graphic img {
  display: block;
  width: 540px;
  height: auto;
}

/* banner */

.banner {
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/background.svg);
  alt="banner background";
  height: 120px;
  width: 100%;
  padding: 6rem;
  margin: 1.5rem;
  background-size: cover;
  margin-left: -12px;
}

.banner h1 {

  margin-right: 8rem;

}

.banner p {

  margin-right: 8rem;
  vertical-align: auto;
}

/* companies */

.companies-pic {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-around;
  row-gap: 3rem;
  column-gap: 8rem;
  text-align: center;
  transform: scale(0.7);
}

img#opendoor-companie {
  display: none;
}

/* cards */
.card {
  background-color: #f4f4f4;
  width: 290px;
  height: 420px;
  border-radius: 15px;
  overflow: hidden;
}

.card div {
  justify-content: center;
  padding: 0 auto;
  margin: 5px;
}

.colorful,
.black,
.grey-18px {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}

.grey,
.black-and-pic,
.grey-18px-right {
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}

.auction-cards a {
  color: black;
}

.auction-cards a:hover {
  color: red;
}

.colorful {
  color: rgb(221, 48, 186);
  font-size: 12px;
  font-weight: 600;
}

.grey {
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.black,
.black-and-pic {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.grey-18px,
.grey-18px-right {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}

.auction-cards {
  margin: 1.5rem;
}

.auction-cards p {
  margin-bottom: 3rem;
}

.auction-cards div {
  margin-right: 1.2rem;
  margin-top: 1rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  gap: 18rem;
}

/* aside */

#textfullsize {
  display: none;
}

.signup-and-graphic-aside {
  border-top: 3px solid #f4f4f4;
  width: 90%;
  border-bottom: 3px solid #f4f4f4;
  width: 90%;
  margin-top: 5rem;
  margin-left: 1.4rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

/* green graphic */

.graphic-green {
  flex: 1 1 40%;
  max-width: 540px;
  overflow: hidden;
  margin-left: 0;

}

.graphic-green img {
  display: block;
  width: 210px;
  height: auto;
  position: absolute;
  right: 1%;
  margin-top: -33%;
}

/* bottom nav */

.bi {
  color: grey;
  margin: 10px;
  font-size: 20px;
}

.bottom-bi:first-of-type {
  margin-left: 1rem;
}

.nav-item h2 a:hover,
.nav-title a:hover,
.nav-ult a:hover,
.nav-ul li a:hover {
  color: red;
}

footer {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 16px;
  background-color: white;
  align-items: start;
  min-height: auto;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: black;
  background-color: white;
}

.footer>* {
  flex: 1 100%;
}

.footer-addr h2 {
  margin-top: 1.3em;
  margin-bottom: 1.3rem;
  margin-left: 1.5rem;
  font-size: 16px;
  font-weight: 400;
}

.footer-logo {
  margin-left: 1.5rem;
}

.nav-title {
  font-weight: 800;
  font-size: 16px;
}

.legal-links span {
  display: none;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer-nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav-ul a {
  color: black;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  font-size: 14px;
}

.legal-links {
  display: flex;
  align-items: center;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem;
}



/* 48em = 768px */

@media (min-width: 950px) {

  html,
  body {
    width: 100vw;
  }

  .header .logo {
    margin-left: 4rem;
  }

  .header {
    padding: 1rem 0;
    margin: 0 1rem;
    box-shadow: 1px 1px 4px 0 transparent;
  }

  .header li {
    float: left;

  }

  .header li:last-child a {
    margin-right: 6rem;
    color: rgb(221, 48, 186);
  }

  .header li a {
    padding: 20px 30px;
  }

  .header li a:hover {
    color: red;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  /* main */

  .signup-and-graphic {
    display: inline;
    float: left;
    margin-top: 12.5rem;
    margin-left: -16rem;
  }

  .graphic img {
    float: right;
    position: absolute;
    right: 10%;
    margin-top: -43%;
    width: 740px;
    height: auto;
  }

  .signup-and-graphic-aside {
    display: inline;
    float: left;
    margin-left: -16rem;
  }

  .banner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75%;
    border-radius: 16px;
    margin-right: 6rem;
    margin-left: 6rem;
  }

  .banner h1 {
    margin-left: -4rem;
  }

  .banner p {
    margin-left: -4rem;
  }

  .companies-pic {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: -6rem;

  }

  .companies {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  img#opendoor-companie {
    display: inline-flex;
  }

  .auction-cards {
    margin-left: 5.5rem;
  }

  .card-wrapper {
    display: inline-flex;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    gap: 2.8rem;
  }

  .signup-and-graphic-aside {
    margin-left: 4rem;
  }

  .left-box {
    margin-top: 8rem;
  }

  #textfullsize {
    display: inline-block;
  }

  .textdot {
    display: none;
  }

  .graphic-green img {
    float: right;
    position: absolute;
    right: 24%;
    margin-top: -32%;
    width: 210px;
    height: auto;
  }

  .bottom-wraper img {
    margin-left: -61rem;
  }

  footer {
    width: 100vw;
  }

  .footer-nav>* {
    flex: 1;
  }

  .footer-nav {
    display: flex;
  }

  .footer-addr {
    flex: 1 0px;
  }

  .footer-nav {
    flex: 2 0px;
  }

  .legal-links span,
  .legal {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    padding: 20px;
    align-items: center;
  }

  .legal-links {
    font-size: 16px;
  }
}